{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TQVM42G');</script>
    <!-- End Google Tag Manager -->
    <!-- SEO -->
    <title>위대한집사 : 1,000원으로 사고파는 강남 아파트</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="description" content="아파트 지분 투자에 필요한 모든 것, 위대한집사가 함께하겠습니다.">
    <meta name="google-site-verification" content="QSdmqLO5yfs7jRN4-pYDgw_whCODJk2RH30UM5C1q3Q" />
    <meta name="naver-site-verification" content="24546991bfe132fea743a64166231f410da7943f"/>
    <meta name="facebook-domain-verification" content="e9p88y6fyg95cqo5cf20bgoyx22uyd"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="greatzipsa.com"/>
    <meta property="og:site_name" content="위대한집사"/>
    <meta property="og:title" content="위대한집사 : 1,000원으로 사고파는 강남 아파트"/>
    <meta property="og:description" content="아파트 지분 투자에 필요한 모든 것, 위대한집사가 함께하겠습니다."/>
    <meta property="og:image" content="{% static 'img/preview.png' %}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" content="greatzipsa.com"/>
    <meta name="twitter:title" content="위대한집사 : 1,000원으로 사고파는 강남 아파트"/>
    <meta name="twitter:description" content="아파트 지분 투자에 필요한 모든 것, 위대한집사가 함께하겠습니다."/>
    <meta name="twitter:image" content="{% static 'img/preview.png' %}"/>
    <link rel="canonical" href="https://greatzipsa.com"/>
    <!-- End SEO -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://webfontworld.github.io/SCoreDream/SCoreDream.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="manifest" href="{% static 'img/favi/manifest.json' %}">
    <link rel="shortcut icon" href="{% static 'img/favi/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favi/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favi/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favi/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favi/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favi/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favi/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favi/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favi/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favi/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favi/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favi/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favi/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favi/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favi/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#FFFFFF">
    <!-- End Favicon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/button_share.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    {% block css %}

    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '688569435578839');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=688569435578839&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQVM42G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="button_share_container">
    <img src="{% static 'img/icon_textbox.svg' %}" class="button_share_tooltip" alt="공유 박스">
    <p>주변사람들에게<br>공유해보세요!</p>
    <span class="icon_close"><img src="{% static 'img/icon_close.svg' %}" alt=""></span>
    <button type="button" onclick="button_share()" class="button_share">
        <img src="{% static 'img/icon_share.svg' %}" class="button_share_image" alt="공유하기">
    </button>
</div>


<div class="registrationModal">
    <div class="rModal-body">
        <div class="close">
            <img src={% static 'img/icon_close.svg' %}>
        </div>
        <div class="rModal-title1">위대한집 1호</div>
        <div class="rModal-title2">출자 사전 신청</div>
        <div class="rModal-title3">본 사전 신청은 실제 출자와는 무관합니다</div>
        <div class="rModal-line1">
            <div class="rModal-line1-content"></div>
        </div>
        <form method="post" action="/register">
            {% csrf_token %}
          <!--  <label for="rName" id="rName-label">성명</label>
            <input name="name" placeholder="홍길동" id="rName">-->
            <label for="rPhone" id="rPhone-label">연락처 (전화번호 또는 이메일)</label>
            <input name="phone" placeholder="- 없이 입력해주세요"  id="rPhone">
            <!--<label class="calc-title" for="rAmount" id="rAmount-label">출자 희망액</label>
            <div class="calc-result">
                <div class="calc-input">만원 출자 시</div>
                <div class="calc-output"><span class="calc-percent"></span> % / <span class="calc-ja">0,000</span>좌
                </div>
            </div>
            <input placeholder="1,000 ~ 2,000,000,000" name="amount" type="number" min="1000" max="2000000000"
                   id="rAmount">
            <div class="amount-range">
                <div class="amount-min">1,000원</div>
                <div class="amount-max">20억 원</div>
            </div>-->
            <div class="rModal-line2"></div>
            <label for="rQuestion" id="rQuestion-label">질문 또는 의견(최대 200자)</label>
            <textarea maxlength="200" name="question" placeholder="자유롭게 의견 남겨주세요!" id="rQuestion"></textarea>
            <div class="rAgree-container">
                <input checked type="checkbox" id="rAgree" name="agree">
                <label><span>개인정보 수집 이용 및 광고성 정보 수신</span>에 동의합니다.</label>
            </div>
            <input type="submit" id="rSubmit" value="제출하기">
        </form>
    </div>
</div>
<div class="contactModal">
    <div class="contactModal-body">
        <div class="cClose">
            <img src={% static 'img/icon_close.svg' %}>
        </div>
        <div class="cModal-title1">위대한 집사</div>
        <div class="cModal-title2">문의하기</div>
        <div class="cModal-title3">문의주신 사항은 3영업일 이내에 답변드리겠습니다</div>
        <form method="post" action="/contact">
            {% csrf_token %}
            <div class="cModal-line1">
                <div class="cModal-line-content"></div>
            </div>
            <div class="cModal-choice-container">
                <div class="cModal-choice-description">저는...</div>
                <div class="cModal-choice">
                    <div>
                        <input type="radio" name="who" id="cInvestor" value="Investor">
                        <label for="cInvestor" id="cInvestor-label">투자희망자입니다.</label>
                    </div>
                    <div>
                        <input type="radio" name="who" id="cAgency" value="Agency">
                        <label for="cAgency" id="cAgency-label">공인중개사입니다.</label>
                    </div>
                    <div>
                        <input type="radio" name="who" id="cSeller" value="Seller">
                        <label for="cSeller" id="cSeller-label">매각희망자입니다.</label>
                    </div>
                </div>
            </div>
           <!-- <label for="cName" id="cName-label">성명</label>
            <input name="name" placeholder="홍길동" id="cName">-->
            <label for="cAddress" id="cAddress-label">연락처 (전화번호 또는 이메일)</label>
            <input name="address" placeholder="- 없이 입력해주세요" id="cAddress">
            <div class="cModal-line2">
                <div class="cModal-line-content"></div>
            </div>
            <label for="cQuestion" id="cQuestion-label">질문 또는 의견 (최대 1000자)</label>
            <textarea name="question" placeholder="자유롭게 의견 남겨주세요!" id="cQuestion"></textarea>
            <div class="cAgree-div">
                <input name="agree" id="cAgree" checked type="checkbox">

                <label for="cAgree" id="cAgree-label"><span>개인정보 수집 이용</span>에 동의합니다.</label>
            </div>
            <input type="submit" value="제출하기" id="cSubmit">

        </form>
    </div>
</div>
<div class="infoReceive">
    <div class="infoReceive-body">
        <div class="infoReceive-title">개인정보 수집 및 이용 및<br>광고성 정보 수신 동의</div>
        <div class="infoReceive-line"></div>
        <div class="infoReceive-content">
            <div>1. 개인정보의 수집·이용 목적</div>
            <div>· 신규 서비스 출시와 사업 오픈 안내<br>· 프로모션, 이벤트 등 다양한 정보 제공</div>
            <br>
            <div>2. 수집하는 개인정보의 항목</div>
            <div>· 성명, 휴대전화번호</div>
            <br>
            <div>3. 개인정보의 보유·이용 기간</div>
            <div>· 서비스 종료 시까지 보관</div>
        </div>
    </div>
</div>
<div class="personalInfo">
    <div class="personalInfo-body">
        <div class="personalInfo-title">개인정보 수집·이용</div>
        <div class="personalInfo-line"></div>
        <div class="personalInfo-content">

            <div>1. 개인정보의 수집·이용 목적</div>
            <div>· 고객 문의사항에 대한 답변</div>
            <br>
            <div>2. 수집하는 개인정보의 항목</div>
            <div>· 성명, 휴대전화번호, 이메일</div>
            <br>
            <div>3. 개인정보의 보유·이용 기간</div>
            <div>· 문의사항 해결 시까지 보유 후 파기</div>

        </div>
    </div>
</div>

{% block content %}
{% endblock %}
<script src="{% static "js/modal.js" %}"></script>
<script src="{% static "js/screen.js" %}"></script>
<script src="{% static "js/button_share.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>
</html>