#section_value{
    height: 920px;
}

.value_container{
    height: 626px;
    top: 168px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.value_list{
    width: 100%;
    height: 512px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.value_item {
    width: 420px;
    height: 512px;

    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
}

.value_item_image{
    width: 100%;
    height: 296px;

    overflow: hidden;
}

.value_item_image > img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}


.value_item_body{
    width: 100%;
    height: 216px;

    padding: 36px 24px 24px 24px;
}

.value_item_title{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
}

.value_item_divider{
    width: 100px;
    height: 2px;

    margin-top: 16px;
    margin-bottom: 16px;

    border-top: 2px solid #444444;
}

.value_item_text{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #717171;
}