.button_share_container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 80px;
    z-index: 1500;
}

.button_share{
    border: none;
    display: block;
    cursor: pointer;

    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 60px;
    height: 60px;
    background-color: gold;
    z-index: 1000;
    border-radius: 60px;
    box-shadow: rgba(0, 0, 0,.15) 0px 4px 10px
}

.button_share_image{
    width: 28px;
    height: 28px;
    position: center;
}

.button_share_tooltip{
    position: absolute;
    padding: 9px 13px;
    bottom: 70px;
    right: 5px;
    transform: scale(1.5);
}

.button_share_container > p{
    position: absolute;
    top: -46px;
    right: 30px;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: -0.02em;
    color: #313A48;
}

.icon_close{
    position: absolute;
    right: 11px;
    top: -45px;
    width: 12px;
    height: 12px;
    background-size: 12px;
    cursor: pointer;
}

@media (min-width: 640px){
    .icon_close{
        top: -49px;
    }
}