html{
    font-family: 'SCoreDream';
    font-size: 16px;
}

body{
    margin:0;
}

@media (min-width: 640px) {
    html{
        font-size: 20px;
    }
}

.hero{
    position:relative;
    margin-top:0rem;
    margin-left:0;
    width:100%;
    height: 648px;
    opacity: 0.95;
    z-index:0;
    overflow:hidden;
}

section{
    overflow:hidden;
}

.hero_apartment{
    position: absolute;
    top: 0;
    width: 100%;
    height: 1024px;
    background: url("/static/img/index/hero_image.svg") 50% 0 no-repeat;
}

.hero_rectangle{
    position: absolute;
    left: 3rem;
    right: 3rem;
    height: 648px;
}

.hero_rectangle_1{
    position: absolute;
    margin-top: 184px;
    width: 100%;
}

.hero_rectangle_1 > div:nth-child(1){
    height: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
    color: #000000;
}

.hero_rectangle_1 > div:nth-child(2){
    height: 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 38px;
    color: #000000;
}

.hero_rectangle_1 > div:nth-child(3){
    display: none;
    text-align: left;
}

.hero_rectangle_1 > div:nth-child(4){
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 24px;
    line-height: 22px;
    letter-spacing: -0.005em;
    color: #707070;
}

.hero_button{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 424px;
    width: 100%;
    height: 56px;
    cursor: pointer;
    overflow: hidden;
}

.hero_button > .button{
    background: #313A48;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 176px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_deco{
    position: absolute;
    border: 1px solid #FFFFFF;
    padding-top: 3px;
    height: 50px;
    width: 170px;
    border-radius: 8px;
}

.scroll_down{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 592px;
    height: 24px;
    z-index: -1;
}

.hero_button > .button > div{
    font-weight: 500;
    font-size: 1rem;
    line-height: 7.79vh;
    display: flex;
    justify-content: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

@media (min-width: 640px) {
    .hero{
        height: 1024px;
    }


    .hero_apartment > img{
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index:-1;
    object-fit: contain;
    }

    .hero_rectangle{
        left: 8.125rem;
        right: 0rem;
    }

    .hero_rectangle_1{
        margin-top: 300px;
    }

    .hero_rectangle_1 > div:nth-child(1), .hero_rectangle_1 > div:nth-child(2){
        display: none;
    }

    .hero_rectangle_1 > div:nth-child(3){
        font-weight: 600;
        font-size: 2rem;
        line-height: 38px;
        color: #000000;
        display: block;
        text-align: left;
    }

    .hero_button{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 667px;
    width: 100%;
    height: 66px;
    cursor: pointer;
    overflow: hidden;
    }

    .hero_button > .button{
        background: #313A48;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        width: 228px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button_deco{
        position: absolute;
        border: 1px solid #FFFFFF;
        padding-top: 3px;
        height: 60px;
        width: 223px;
        border-radius: 8px;
    }

    .hero_apartment{
    position: absolute;
    top: 0;
    width: 100%;
    height: 1024px;
    background: url("/static/img/index/hero_image_big.svg") 100% 0 no-repeat;
    }

    .scroll_down{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 960px;
    height: 24px;
    z-index: -1;
 }
}

.about_wezip{
    position: relative;
    height: 938px;
    background: #313A48;
}

.about_wezip_padding{
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
}

.about_wezip_grid{
    position:absolute;
    top: 4rem;
    display: grid;
    width: 100%;
    /*flex-direction: column;*/
    grid-template-rows: 10rem;
    justify-items: center
    /*flex-wrap: wrap;*/
}

.about_wezip_title > div:nth-child(1){
    font-weight: 600;
    font-size: 1.25rem;
    height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.about_wezip_title > div:nth-child(2){
    padding-top: 8px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

.about_wezip_title > div:nth-child(3){
    display: none;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    line-height: 58px;
    color: white;
}

.about_wezip_title > div:nth-child(4){
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.005em;
    color: #707070;
    padding-top:24px;
}

.about_wezip_content{
    display: flex;
    flex-direction: column;
    gap: 2.78vh;
    width: 100%;
    align-items: center
}

.about_wezip_content_1, .about_wezip_content_2, .about_wezip_content_3{
    width: 100%;
    height: 12.5rem;
}

.about_wezip_content_1 > img, .about_wezip_content_2 > img, .about_wezip_content_3 > img{
    top: 0;
    left: 0;
    float: left;
}

#about_wezip_slogan{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 1.25rem;
    padding-left: 5rem;
}

#about_wezip_line{
    position: relative;
    width: 100%;
    height: 1px;
    top: 0.5rem;
    left: 0rem;
    background: #D29B4A;
}

#about_wezip_description{
    float:left;
    padding-left: 5rem;
    font-weight: 200;
    font-size: 0.65rem;
    line-height: 170%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

@media (min-width: 640px) {
    .about_wezip{
        height: 540px;
    }

    .about_wezip_padding{
        position: absolute;
        left: 4rem;
        right: 4rem;
    }

    .about_wezip_title > div:nth-child(1), .about_wezip_title > div:nth-child(2){
        display: none;
    }

    .about_wezip_title > div:nth-child(3){
        display: flex;
        justify-content: center;
    }

    .about_wezip_grid{
        position:absolute;
        top:5rem;
        display: grid;
        width: 100%;
        justify-items: center;
        grid-template-rows: 8rem;
    }

    .about_wezip_content {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
}

.work{
    position: relative;
    height: 744px;
    background: white;
    display: flex;
    align-items: center;
}

.work_padding{
    position: absolute;
    left: 0rem;
    right: 0rem;
}

.work_flex{
    position: relative;
    top: 0vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.ctn_value > div:nth-child(1){
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
    color: #000000;
}

.ctn_value > div:nth-child(2){
    font-weight: 600;
    font-size: 2rem;
    line-height: 38px;
    padding-top: 0.25rem;
    color: #000000;
}

.ctn_value > div:nth-child(3){
    display: none;
    font-weight: 600;
    font-size: 2rem;
    line-height: 38px;
    padding-top: 0.25rem;
    color: #000000;
}

.step{
    position: relative;
    padding-top: 2rem;
    padding-left: 0rem;
}

.ctn_value > .step > #word{
    font-weight: 200;
    font-size: 0.75rem;
    line-height: 170%;
    padding-top: 1.1rem;
    padding-left: 2rem;
    letter-spacing: -0.04em;
    color: #000000;
}

.ctn_value> .step > div:nth-child(2){
    padding-top: 0.95rem!important;
}

.step_button{
    padding-top: 1rem;
    height: 10rem;
    float:left;
}


.line_56{
    position: relative;
    top: -135px;
    left: 0.7rem;
    width: 4px;
    height: 115px;
}

#main_photo_animation_one, #main_photo_animation_two, #main_photo_animation_three, #main_photo_animation_four{
    display: none;
    width: 275.81px;
    height: 300px;
}

#eclipse_1{
    position: relative;
    top:-261px;
    left:3px;
    display: none;
}


#eclipse_2{
    position: relative;
    top:-223px;
    left:3px;
    display: none;
}

#eclipse_3{
    position: relative;
    top:-185px;
    left:3px;
    display: none;
}

#eclipse_4{
    position: relative;
    top:-147px;
    left:3px;
    display: none;
}

@media (min-width: 640px) {
    .work{
        position: relative;
        height: 744px;
        background: white;
    }

    .ctn_value{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ctn_value > div:nth-child(1), .ctn_value > div:nth-child(2){
        display:none;
    }

    .ctn_value > div:nth-child(3){
        display:block;
    }

    .work_flex{
        position: relative;
        width: 100%;
        height: 1024px;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    #main_photo_animation_one, #main_photo_animation_two, #main_photo_animation_three, #main_photo_animation_four{
        display: none;
        width: 350px;
        height: 350px;
    }

    .icon_dots{
        height: 8.75rem;
    }

    #eclipse_1, #eclipse_2, #eclipse_3, #eclipse_4{
        transform: scale(1.3);
    }

    #eclipse_1{
        position: relative;
        top:-297px;
        left:6px;
        display: none;
    }


    #eclipse_2{
        position: relative;
        top:-249.5px;
        left:6px;
        display: none;
    }

    #eclipse_3{
        position: relative;
        top:-202px;
        left:6px;
        display: none;
    }

    #eclipse_4{
        position: relative;
        top:-154.5px;
        left:6px;
        display: none;
    }
}

.section_1{
    position: relative;
    height: 850px;
    background: #313A48;
    display: flex;
    align-items: center;
    justify-content: center
}

.section_1_flex > .ctn_title > div:nth-child(1), .ctn_photo_flex > div:nth-child(1){
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.section_1_flex > .ctn_title > div:nth-child(2), .ctn_photo_flex > div:nth-child(2){
    padding-top: 1rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

.ctn_photo_flex > div:nth-child(1), .ctn_photo_flex > div:nth-child(2){
    display: none;
}

.section_1_flex > .ctn_title{
    position: relative;
    padding-top: 0rem;
}

.ctn_photo_flex{
    padding-top: 1rem;
}

.ctn_title_flex > .photo{
    padding-top: 3rem;
}

.ctn_title_flex > .photo > img{
    width: 100%;
}

.ctn_photo_flex_1{
    padding-top: 1.5rem;
    padding-left: 4rem;
}

.ctn_photo_flex_1 > .rectangle_1{
    width: 48px;
    height: 48px;
    float: left;
    background: none;
}

.ctn_photo_flex_1 > .slogan{
    position: relative;
    padding-top: 0.5rem;
    padding-left: 4rem;
}

.ctn_photo_flex_1> .slogan > .slogan_1{
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.ctn_photo_flex_1> .slogan > .slogan_2{
    font-weight: 300;
    font-size:0.5rem;
    line-height: 10px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.ctn_photo_slogan{
    display: none;
}

@media (min-width: 640px) {
    .section_1{
        position: relative;
        height: 600px;
        background: #313A48;
        display: flex;
        align-items: center;
    }

    .section_1_flex{
        position: absolute;
        left: 0rem;
        right: 0rem;
    }

    .section_1_flex > .ctn_title{
        padding-top: 0rem;
    }

    .section_1_flex > .ctn_title > div:nth-child(1), .section_1_flex > .ctn_title > div:nth-child(2){
        display: none;
    }

    .ctn_title_flex > .photo{
        float: left;
        padding-top: 3rem;
    }

    .ctn_title_flex > .photo > img{
        width: 400px;
        height: 400px;
    }

    .ctn_title_flex{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .ctn_photo_flex{
        padding-top: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #ctn_photo_flex_padding{
        padding-top: 1.5rem;
    }

    .ctn_photo_flex_1 > .slogan{
        padding-top: 0.5rem;
        padding-left: 4rem;
    }

    .ctn_photo_flex_1 {
        padding-top: 0.5rem;
        padding-left: 0rem;
    }

    .ctn_photo_flex > div:nth-child(2) {
        padding-top: 0.5rem;
    }

    .ctn_photo_flex > div:nth-child(1), .ctn_photo_flex > div:nth-child(2){
        display: block;
    }

}

#section_2_flex > .ctn_photo_flex_1{
    padding-left: 0rem;
}

#section_2_flex > .ctn_photo_flex_1 > .slogan{
    padding-left: 0rem;
    text-align: center;
}

#section_2_flex > .ctn_photo_flex_1 > .slogan > .slogan_1{
    font-size: 1rem;
}

@media (min-width: 640px) {
    #section_2{
        display: flex;
        flex-direction: row;
    }

    #section_2_flex > .ctn_photo_flex_1{
        padding-left: 0.5rem;
    }

    #section_2_flex > .ctn_photo_flex_1 > .slogan{
        text-align: left;
    }

}

#section_3_flex > .ctn_photo_flex_1{
    padding-left: 2rem;
}

#section_3_flex > .ctn_photo_flex_1 > .rectangle_1{
    display: flex;
    background: none;
}

#section_3_flex > .ctn_photo_flex_1 > .slogan{
    padding-top: 1rem;
}

@media (min-width: 640px) {
    #section_3_flex{
        padding-left: 2rem;
    }

    #section_3_flex > .ctn_photo_flex_1{
        padding-left: 0rem;
        padding-top: 0rem;
    }

    #section_3_flex > #ctn_photo_flex_padding{
        padding-top: 1.5rem;
    }

}

.association{
    position:relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.association_ctn_title > div:nth-child(1){
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.association_ctn_title > div:nth-child(2){
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.association_ctn_title > div:nth-child(3){
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.005em;
    color: #707070;
}

.association_rectangle{
    display: flex;
    padding-top: 2rem;
    justify-content: center;
}

.association_internal_rectangle{
    width: 304px;
    height: 304px;
    background: #313A48;
    display: flex;
    justify-content: center;
    align-items: center
}

.association_internal_white_rectangle{
    width: 258px;
    height: 258px;
    background: white;
}

.association_rectangle_flex{
    display:grid;
    grid-template-areas:"a b"
                        "c d";
    align-items: center;
    justify-items: center;
    height: 258px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media (min-width: 640px) {
    .association{
        height: 450px;
    }

    .association_internal_rectangle{
        width: 632px;
        height: 176px;
    }

    .association_internal_white_rectangle{
        width: 584px;
        height: 150px;
    }

    .association_rectangle_flex{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
    }

    .association_ctn_title{
        padding-top: 0rem;
    }


}

.footer{
    position: relative;
    height: 600px;
    background: linear-gradient(158.89deg, rgba(49, 58, 72, 0) 37.99%, #313A48 90.73%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer_button{
    margin-top: 4rem;
}

.footer_slogan{
    padding-top: 4rem;
    text-align: center;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #707070;
}

.footer_logo, .scroll_up{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.scroll_up{
    cursor: pointer;
    padding-top: 4rem;
}

@media (min-width: 640px) {
    .footer {
        height: 500px;
    }

    .slogan_logo_flex {
        display: flex;
        width: 90vw;
        justify-content: space-between;
        padding-top: 2rem;
    }

    .footer_slogan, .footer_logo {
        padding-top: 0rem;
    }


    .footer_slogan {
        text-align: left;
    }

}