{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TQVM42G');</script>
    <!-- End Google Tag Manager -->

    <!-- SEO -->
    <title>위대한집사 | 모두를 위한 전세보증보험</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="description" content="맡긴 전세금이 불안하신가요? 모두를 위한 위대한집사 보증보험에 가입하세요!">
    <meta name="google-site-verification" content="QSdmqLO5yfs7jRN4-pYDgw_whCODJk2RH30UM5C1q3Q" />
    <meta name="naver-site-verification" content="24546991bfe132fea743a64166231f410da7943f"/>
    <meta name="facebook-domain-verification" content="e9p88y6fyg95cqo5cf20bgoyx22uyd"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="greatzipsa.com"/>
    <meta property="og:site_name" content="위대한집사"/>
    <meta property="og:title" content="위대한집사 | 모두를 위한 전세보증보험"/>
    <meta property="og:description" content="맡긴 전세금이 불안하신가요? 모두를 위한 위대한집사 보증보험에 가입하세요!"/>
    <meta property="og:image" content="{% static 'img/preview_new.png' %}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" content="greatzipsa.com"/>
    <meta name="twitter:title" content="위대한집사 | 모두를 위한 전세보증보험"/>
    <meta name="twitter:description" content="맡긴 전세금이 불안하신가요? 모두를 위한 위대한집사 보증보험에 가입하세요!"/>
    <meta name="twitter:image" content="{% static 'img/preview_new.png' %}"/>
    <link rel="canonical" href="https://greatzipsa.com"/>
    <!-- End SEO -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>

    <!-- Favicon -->
    <link rel="manifest" href="{% static 'img/favi/manifest.json' %}">
    <link rel="shortcut icon" href="{% static 'img/favi/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favi/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favi/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favi/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favi/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favi/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favi/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favi/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favi/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favi/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favi/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favi/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favi/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favi/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favi/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#FFFFFF">
    <!-- End Favicon -->

    <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/section.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/section1.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/section2.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/section3.css" %}"/>
{#    <link rel="stylesheet" type="text/css" href="{% static "css/section4.css" %}"/>#}
    <link rel="stylesheet" type="text/css" href="{% static "css/onepage.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/scroll.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.9/fullpage.min.css"
          integrity="sha512-Go0fX6Al6Eab+N7QbSFHYBpwdcU2rbfONUcbRIS4z+9yzLlj7Xj8ao2BAOPE9Qtxdl+7iq04xzzcF4OTOWoUWg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="{% static "js/screen.js" %}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.9/fullpage.min.js"
            integrity="sha512-JSVRnP8UFs0ieN/cvP9v4vmW1CotIaEKKN7W+4JaKNrllZolTv2aJfVGn4BFdfZ1jRZxgTAAaXWdlZbEm9iwFA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.9/fullpage.extensions.min.js"
            integrity="sha512-VtOcayHH4bfSUajzLiExkPE2HZipNXtYize8nIhFbasshi9c5AbtjSWDHYO+U2yhFyqcIGp+nXGX5rau1Iz6cQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '688569435578839');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=688569435578839&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQVM42G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
    <div class="header_container">
        <div class="logo">
            <img src="{% static 'img/header_logo.svg' %}" alt="로고">
        </div>

        <button class="btn_share" type="button" onclick="button_share()"/>
            <div class="btn_share_container">
                <div class="text_share">
                    주변에 알리기
                </div>
                <div type="button" class="icon_share">
                    <img src="{% static 'img/icon_share.svg' %}">
                </div>
            </div>
        </button>
    </div>
</header>


<div id="fullpage">
    <div id="section" class="section">
        <div class="section_container">
            <div class="title">
                맡긴<br>전세금이<br>불안하신가요?
            </div>

            <div class="contents">
                <div class="blocks">
                    <div class="block">
                        <div class="block_img">
                            <img src="{% static 'img/icon_check.svg' %}">
                        </div>
                        <div class="block_text">
                            <p><span class="highlight">HUG 전세보증</span> 가입이 안돼요</p>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block_img">
                            <img src="{% static 'img/icon_check.svg' %}">
                        </div>
                        <div class="block_text">
                            <p>신축 빌라에 <span class="highlight">거주하고 있어요</span></p>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block_img">
                            <img src="{% static 'img/icon_check.svg' %}">
                        </div>
                        <div class="block_text">
                            <p>전세금을 꼭 <span class="highlight">돌려받아야 해요</span></p>
                        </div>
                    </div>
                </div>

                <div class="association">
                    <div class="association_text">
                        지원기관
                    </div>
                    <div class="association_items">
                        <div class="association_item">
                            <img src="{% static 'img/logo_association_1.svg' %}">
                        </div>
                        <div class="association_item">
                            <img src="{% static 'img/logo_association_2.svg' %}">
                        </div>
                    </div>
                </div>

                <div id="apply" class="apply_section">
                    <button class="button_apply">
                        전세금 보증보험 가입 문의하기
                    </button>
                </div>
            </div>
        </div>



{#        <div class="apply_section">#}
{#            <form method="post" class="apply_form">#}
{#                {% csrf_token %}#}
{#                <input id="mAddress" class="apply_input" type="text" placeholder="주소 입력하고 무료로 안전진단 받기">#}
{#                <button id="apply" class="button_apply" type="button">#}
{#                    <img src="{% static 'img/icon_submit.svg' %}">#}
{#                </button>#}
{#            </form>#}
{#        </div>#}
    </div>
</div>

<div class="modal_wrapper">
    <div class="modal" id="modal0">
    <div class="applicationModal">
        <div class="modal_container">
            <div class="modal_title">
                <div class="modal_title_main">
                    주소를 알려주세요!
                </div>
                <div class="modal_title_sub">
                    보증 보험을 받고 싶은<br>전세집 주소를 알려주세요.
                </div>
            </div>

            <form method="post" class="modal_form">
                {% csrf_token %}

                <div class="form_item">
                    <div class="form_label">
                        <span class="form_label_main">주소 | </span>
                        <span class="form_label_sub">도로명 주소 또는 지번을 입력해주세요.</span>
                    </div>
                    <input id="mAddress_main" class="form_input" type="text" placeholder="입력창을 클릭해보세요!">
                </div>

                <div class="form_item">
                    <div class="form_label">
                        <span class="form_label_main">상세 주소 | </span>
                        <span class="form_label_sub">꼭 동·층·호 모두 입력해주세요.</span>
                    </div>
                    <input id="mAddress_sub" class="form_input" class="form_label" type="text" placeholder="예시) 101동 101호">
                </div>

                <div class="form_item">
                    <button id="submit_0" class="button_submit" type="button">
                        다음으로
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="modal" id="modal1">
    <div class="applicationModal">
        <div class="modal_container">
            <div class="modal_title">
                <div class="modal_title_main">
                    조금 더 자세히 알려주세요!
                </div>
                <div class="modal_title_sub">
                    추가적인 정보가 있으면<br>정밀한 안전진단이 가능해요.
                </div>
            </div>

            <form method="post" class="modal_form">
                {% csrf_token %}

                <div class="form_item">
                    <div class="form_label">
                        <span class="form_label_main">전세금 | </span>
                        <span class="form_label_sub">만원 단위로 숫자만 입력해주세요.</span>
                    </div>
                    <input id="mDeposit" class="form_input" type="number" placeholder="예시) 45000 (4억 5천만 원)">
                </div>

                <div class="form_item">
                    <div class="form_label">
                        <span class="form_label_main">전입일 | </span>
                        <span class="form_label_sub">확정일자를 받은 월을 입력해주세요.</span>
                    </div>
                    <input id="mDate" class="form_input" class="form_label" type="month">
                </div>

                <div class="form_item">
                    <button id="submit_1" class="button_submit" type="button">
                        다음으로
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="modal" id="modal2">
    <div class="applicationModal">
        <div class="modal_container">
            <div class="modal_title">
                <div class="modal_title_main">
                    끝이 보여요!
                </div>
                <div class="modal_title_sub">
                    남겨주신 휴대전화 번호로<br>안전진단 결과 및 보험 안내를 보내드릴게요.
                </div>
            </div>

            <form method="post" class="modal_form">
                {% csrf_token %}

                <div class="form_item">
                    <div class="form_label">
                        <span class="form_label_main">휴대폰 번호 | </span>
                        <span class="form_label_sub">'-'를 제외하고 입력해주세요</span>
                    </div>
                    <input id="mContact" class="form_input" type="number" placeholder="예시) 01012345678">

                </div>

                <div class="form_item">
                    <div class="form_agree">
                        <input checked type="checkbox" id="mAgree" name="agree">
                        <div class="form_label_agree"><span class="form_agree_text">개인정보 수집 이용 및 광고성 정보 수신</span> 동의</div>
                    </div>
                </div>


                <div class="form_item">
                    <button id="submit_2" class="button_submit" type="button">
                        제출하기
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="modal" id="modal3">
    <div class="applicationModal">
        <div class="modal_container">
            <div class="modal_title">
                <div class="modal_title_main">
                    신청되었습니다!
                </div>
                <div class="modal_title_sub">
                    빠른 시일 내에<br>안내드릴게요.
                </div>

                <button class="btn_share" type="button" onclick="button_share()"/>
                    <div class="btn_share_container">
                        <div class="text_share">
                            주변에 알리기
                        </div>
                        <div type="button" class="icon_share">
                            <img src="{% static 'img/icon_share.svg' %}">
                        </div>
                    </div>
                </button>
            </div>

            <div class="form_item">
                <button id="submit_3" class="button_submit" type="button">
                    돌아가기
                </button>
            </div>
        </div>
    </div>
</div>
</div>


<script src="{% static "js/fullPage_init.js" %}"></script>
<script src="{% static "js/share.js" %}"></script>
<script src="{% static "js/submit.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>
</html>