#section_work{
    height: 990px;
}

.work_container{
    height: 822px;
    top: 44px;
}

.work_plan{
    width: 838px;
    height: 120px;

    margin-top: 20px;
    margin-bottom: 64px;

    background: rgba(34, 34, 34, 0.8);
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.work_plan > p{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;

    color: #F4F4F4;
}

.work_gallery{
    height: 542px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.work_gallery_image{
    width: 100%;
    height: 100%;

    overflow: hidden;
    border-radius: 16px;

    display: none;
}

.work_gallery_image > img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.work_prev, .work_next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.work_prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.work_next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.work_prev:hover,
.work_next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}




